// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: inherit;
// }

// body {
//   box-sizing: border-box;
//   font-size: 62.5%;
// }

// .masonry {
//   // background-color: white;
//   width: 100vw;
//   height: 100vh;
//   padding: 1rem;
//   display: grid;
//   grid-template-columns: repeat(16, 1fr);
//   grid-template-rows: repeat(14, 1fr);
//   row-gap: 1rem;
//   column-gap: 1rem;
// }

// img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   border-radius: 5px;
// }

// .row {
//   display: flex;
//   flex-wrap: wrap;
//   margin-right: -15px;
//   margin-left: -15px;
//   margin-top: 50px;
// }

// .row.Masonry-2 {
//   column-count: 2;
//   column-gap: 0;
// }
// .row.Masonry-3 {
//   column-count: 3;
//   column-gap: 0;
// }
// .Masonry-2 .col-md-6,
// .Masonry-3 .col-md-4 {
//   float: none;
//   width: 100%;
//   -webkit-column-break-inside: avoid;
//   page-break-inside: avoid;
//   break-inside: avoid;
// }
// @media (max-width: 480px) {
//   .row.Masonry-2,
//   .row.Masonry-3 {
//       column-count: 1;
//   }
// }

.post-profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.col-md-8 {
  width: 500px;
}
.card-wrap {
  margin: 40px 0px;
}

strong{
  color: #374145;
}

.parts {
  margin: 12px 0;
}

.love {
  background-image: image-url("parts5");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.comment {
  margin-left: 8px;
  background-image: image-url("parts6");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 40px !important;
}
