
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 610px;
  margin: 0 auto;
  & > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    & > li {
      list-style: none;
      &.personIcon {
        i {
          color:#dccbcb;
        }
      }
      &.appIcon {
        & > a {
          width: 40px;
          display: inline-block;
          & > img {
            width: 100%;
          }
        }
      }
      &.messageIcon {
         i {
           color: #dccbcb;
         }
      }
    }
  }
}
.post-profile-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.col-md-8 {
  width: 500px;
}
.card-wrap {
  margin: 40px 0px;
}

strong{
  color: #374145;
}

.parts {
  margin: 12px 0;
}

.love {
  background-image: image-url("parts5");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
}

.comment {
  margin-left: 8px;
  background-image: image-url("parts6");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 40px !important;
}
