body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  background: rgba(0,0,0,0.5);
  background-size: cover;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
  padding-top: 20px;
}

#edit .container #edit-row #edit-column #edit-box {
  margin-top: 60px;
  max-width: 600px;
  height: 500px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  position: absolute;

}
#edit .container #edit-row #edit-column #edit-box #edit-form {
  padding: 20px;
}
#edit .container #edit-row #edit-column #edit-box #edit-form #register-link {
  margin-top: -85px;
}

